
@{
    ViewData["Title"] = "Duplicate";
}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
            <li class="breadcrumb-item"><a asp-controller="Device" asp-action="Index">Create</a></li>
        </ol>
    </nav>
<p class="text-danger">Duplicate Electric Found. Please create another one.</p>